@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
.container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    li{
        margin: 10px;
        padding: 10px;
      
        img{
            width: 150px;
            height: 100%;
        }
        &::before{
            counter-increment: my-sec-counter;
            content: counter(my-sec-counter);
            margin:0 auto;
            font-size: 150px;
            height: 100%;
            font-family: 'Rampart One', cursive;
        }
    }
    
}