/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.cdnfonts.com/css/netflix-sans');
body{
    margin:0 auto;
    padding: 0 auto;
    font-family: 'Netflix Sans', sans-serif;
    background-color: black;
    color: mintcream;
    counter-reset: my-sec-counter;
    ul{
        list-style: none;
        padding-left: 0;
    }
}
